header {
    width: 100%;
    display: flex;
    color: white;
    justify-content: space-between;
  }
  header .logo {
    margin: 20px;
  }
  .cash {
    margin-right: 20px;
    font-size: 1.4em;
    color: white;
  }
  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
  }
  