header {
  width: 100%;
  display: flex;
  color: #ffffff;
  
}
header .logo {
  margin: 0 auto;
  display: block;
  margin-top: 20px;
}
header .cash {
  margin: 0 auto;
  display: block;
  margin-top: 20px;
}
header .profile {
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  text-decoration: none;
}
