body {
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  width: 400px;
  margin: 2%;
}

.container h2 {
  font-size: 1.4em;
  text-align: center;
  color: black;
}

.form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: black;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.button {
  width: 100%;
  font-size: 20px;
}

hr {
  width: 40%;
}
