<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rogue Runner</title>
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <div class="login">
      <a id="login-link" href="/login">Login</a>
    </div>
    <header>
      <img src="assets/logo.png" alt="">
    </header>

    <nav>
      <a href="/play">Play</a>
      <a href="/profile">Profile</a>
      <a href="/shop">Shop</a>
      <a href="/inventory">Inventory</a>
    </nav>
  </body>
</html>
