<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/shop.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="icon" href="/assets/icon.png" />
  </head>
  <body>
    <header>
      <a href="/home"><img src="/assets/logo.png" class="logo" alt="logo" /></a>
      <div class="right">
        <h2 class="cash">$</h2>
        <a class="profile" href="/profile">Profile</a>
      </div>
    </header>
    <div class="container">
      <div class="policecar"></div>
      <div class="roguecar"></div>
    </div>
    <script src="/js/front/inventory.js"></script>
  </body>
</html>
