<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/3.70.0/phaser.min.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/inventory.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="icon" href="/assets/icon.png" />
  </head>
  <body>
    <header>
      <img src="/assets/logo.png" alt="logo" class="logo" />
      <h2 class="cash">cash</h2>
      <a class="profile" href="/profile">Profile</a>
    </header>
    <div class="container">
      <div class="policecar"></div>
      <div class="roguecar"></div>
    </div>
    <script src="/js/front/shop.js"></script>
  </body>
</html>
