<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="icon" href="/assets/icon.png" />
  </head>
  <body>
    <header>
      <a href="/home"><img src="/assets/logo.png" class="logo" alt="logo" /></a>
      <div class="right">
        <h2 class="cash">$</h2>
      </div>
    </header>
    <div class="container">
      <h2>Email : {{user.email}}</h2>
      <h2>Username : {{user.username}}</h2>
      <h2>Level :</h2>
      <h2>Best Score :</h2>
    </div>
    <div class="box">
      <a href="/logout"><button class="button">Logout</button></a>
      <a href="/delete"><button class="button">Delete Account</button></a>
      <a href="/inventory"><button class="button">Inventory</button></a>
    </div>
    <a href="/back"><button class="back button">&larr; Back</button></a>
  </body>
</html>
