<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/3.70.0/phaser.min.js"></script>
    <script type="module" src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/shop.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="icon" href="/assets/icon.png" />
  </head>
  <header>
    <img src="/assets/logo.png" alt="logo" class="logo" />
    <h2 class="cash">cash</h2>
    <a class="profile" href="/profile">Profile</a>
  </header>
  <body>
    <div class="container">
      <div class="box">
        <h1 id="Title">Title: {title}</h1>
        <p id="price">Price: {$9.99}</p>
        <p id="description">Description:{descritpion}</p>
        <button id="buy">Buy</button>
      </div>
      <div class="box">
        <h1 id="Title">Title: {title}</h1>
        <p id="price">Price: {$9.99}</p>
        <p id="description">Description:{descritpion}</p>
        <button id="buy">Buy</button>
      </div>
      <div class="box">
        <h1 id="Title">Title: {title}</h1>
        <p id="price">Price: {$9.99}</p>
        <p id="description">Description:{descritpion}</p>
        <button id="buy">Buy</button>
      </div>
    </div>
  </body>
</html>
